<?xml version="1.0" encoding="UTF-8" ?>
    <!-- 2015-06-18 - ADDED xmlns:android so the Android properties can be extended -->
    <!-- 2015-12-05 - REMOVED xmlns:android, add 'winphone' -->
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.Avrimonth.Pgfb"
        version     = "1.2.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <!-- <preference name="phonegap-version" value="3.5.0" /> -->
        <preference name="phonegap-version" value="cli-5.2.0" />

        <name>PGfb</name>
        <description>PG FB test</description>
        <author href="http://avrimont.fi" email="t@go4.fi">
        Tim S
        </author>

        <!-- Android SECTION -->
        <platform name="android" />

        <!-- iOS SECTION -->
        <platform name="ios" />

        <!-- winphone SECTION -->
        <platform name="winphone" />

        <!-- App requested permission -->
        <preference name="permissions" value="none"/>

        <!-- PLUGINS PLUGINS -->
        <!-- device required so we can detect if we are using iOS -->
        <plugin name="cordova-plugin-device"         source="npm" spec="1.0.1" />

    </widget>
